{% extends "layout.html" %}


{% block content %}
    <!--Se activa la sección "Evolution"-->
    <script type="text/javascript">
            document.getElementById('ref-evolution').classList.add("active");
    </script>

    {% if hay_datos %}

        <div id="evolution-container-main" class="container-fluid">

            <div class="container-fluid" style="width:100%; height: auto">
                <h1 id="evolution-h1" class="text-center text-dark"><strong>Evolución de la integración</strong></h1>
            </div>
                <!-- Tarjetas de estadísticas -->
                <div id="evolution-stats-cards" class="" style="height:220px; width:auto; overflow:auto;">

                    <li class="d-flex flex-row" style="width:auto;">
                        {% for variable in variables_evolucion %}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="d-inline-block text-left container-fluid" style="width:300px; height:auto; padding:5px">
                            <div style="" class="card border-left-success shadow-sm h-100 py-2">
                                <div class="card-body" style="min-width:280px;">
                                    <div class="container-fluid" style="width:100%; height: 80% !important; margin-bottom: 20px !important">
                                        <div class="h6 font-weight-bold text-gray-800 text-center" style="margin-bottom: 15px; font-size: 17px;">{{variables_evolucion[variable].title().replace("_", " ")}}</div>
                                        <div class="d-inline-block text-left" style="width: 40%; color:DarkGrey">{{informacion_tarjetas.fecha_anterior}}</div><div class="d-inline-block text-right" style="width: 60%; color:DarkGrey">{{informacion_tarjetas[variable].media_anterior}}</div>
                                        <div class="d-inline-block text-left" style="width: 40%">{{informacion_tarjetas.ultima_fecha}}</div><div class="d-inline-block text-right text-{{informacion_tarjetas[variable].color}} font-weight-bold" style="width: 60%;">{{informacion_tarjetas[variable].media_ultima}}</div>
                                    </div>
                                    <div class="container-fluid text-center align-items-baseline" style="height:32px !important">
                                        <i class="fas fa-{{informacion_tarjetas[variable].icono}} fa-2x text-gray-300" style="color:{{tema[variable]}}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </li>

                </div>

                <div class="container-fluid text-center" style="">

                    {% for variable in variables_evolucion %}
                        <div id="card-{{variable}}" class="container-fluid" style="margin-top:50px; margin-bottom:50px">
                            <h3 style="margin-bottom:0px;"><i class="fas fa-{{informacion_tarjetas[variable].icono}} text-gray-300" style="color:{{tema[variable]}}; margin:12px"></i><strong>{{variables_evolucion[variable]}}</strong></h3>
                            <div class="shadow container-fluid text-center" style="overflow:auto;">

                                <img src="{{ url_for('download_file', filename='evolution_' + variable + '.svg') }}?{{url_variable}}" alt="gráfico de la evolucion de {{variable}}" style="margin-top:50px">
                            </div>
                        </div>
                    {% endfor %}

                </div>


    {% else %}

        <div class="d-flex justify-content-center align-items-center text-center" style="width:100%; height:100%">
            <h1 style="width:40%;">Su lista de camadas está vacía.<br><br>Vaya a la seccón <a href="{{ url_for('load_data') }}">"Subir Datos"</a> para poder empezar a usar Poultry Geek!</h1>
        </div>

    {% endif %}

{% endblock %}

{% block footer %}
<!--footer-->
<footer class="footer" id="footer">
    <span class="text">Todos los derechos reservados</span>
</footer>
{% endblock %}
