{% extends "layout.html" %}

{% block hero %}
    <div class="jumbotron jumbotron-fluid" style="height: 100%">
      <div class="container">
        <h1 class="display-4">!Bienvendios a Poultry Geek!</h1>
        <p class="lead"><br><br>La barra superior conduce a las distintas secciones de la aplicación, <br>pero para poder entrar en ellas tiene que darse de alta.<br><br>Para poder entrar primero ha de registrarse, y una vez se haya completado el registro, tendrá que contactar con p92supeg@uco.es para que le pueda dar de alta.</p>
      </div>
    </div>
{% endblock %}

{% block content %}

    <!--Se activa la sección "Index"-->
    <script type="text/javascript">
            document.getElementById('ref-index').classList.add("active");
    </script>

{% endblock %}

{% block footer %}
<!--footer-->
<footer class="footer" id="footer">
    <span class="text">Todos los derechos reservados</span>
</footer>
{% endblock %}
