<!--Para esta tarea se ha usado la misma macro que con register debido a su 
similitud-->

{% from 'macros.html' import render_field %}
{% extends "layout.html" %}

{% block content %}

<div id="login" class="container-fluid">
    <div class="container" id="login-box-start">
        <h2 class="text-center text-dark">Poultry Geek</h2>
    </div>
    <div class="container border border-dark rounded" id="login-box">
        <form id="login-form" class="form container-fluid" action="" method="post">
            {{ form.hidden_tag() }} <!--Despliega una variable en forma HTML (sin paréntresis); hidden_tag se usa por temas de seguridad-->
            <h3 class="text-center text-dark pb-4 font-weight-bold">Inicio de sesión</h3>
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-dark text-white btn-md" value="Iniciar Sesión">
                <a href="{{ url_for('register') }}" class="text-right btn btn-dark text-white btn-md ">Registrarse</a>
            </div>
        </form>
    </div>
    <div class="container" id="login-box-end">

    </div>
</div>

{% endblock %}

<!--<div id="login">-->
<!--    <div class="container">-->
<!--        <h3 class="text-center text-dark pt-5">Poultry Geek</h3>-->
<!--        <div class="container">-->
<!--            <div id="login-row" class="row justify-content-center align-items-center">-->
<!--                <div id="login-column" class="col-md-6">-->
<!--                    <div id="login-box" class="col-md-12">-->
<!--                        <form id="login-form" class="form" action="" method="post">-->
<!--                            {{ form.hidden_tag() }} &lt;!&ndash;Despliega una variable en forma HTML (sin paréntresis); hidden_tag se usa por temas de seguridad&ndash;&gt;-->
<!--                            <h3 class="text-center text-dark">Inicio de sesion</h3>-->
<!--                            {% for field in form %}-->
<!--                                {{ render_field(field) }}-->
<!--                            {% endfor %}-->
<!--                            <div class="form-group">-->
<!--                                <input type="submit" name="submit" class="btn btn-dark text-white btn-md" value="Login">-->
<!--                                <a href="{{ url_for('register') }}" class="text-right btn btn-dark text-white btn-md ">Registrarse</a>-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->




