{% from 'macros.html' import render_field %}
{% extends "layout.html" %}

{% block content %}
    <div id="register" class="container-fluid">
        <div class="container" id="register-box-start">
            <h2 class="text-center text-dark">Poultry Geek</h2>
        </div>
        <div class="container border border-dark rounded" id="register-box">
            <form id="register-form" class="form container-fluid" action="" method="post">
                {{ form.hidden_tag() }} <!--Despliega una variable en forma HTML (sin paréntresis); hidden_tag se usa por temas de seguridad-->
                <h3 class="text-center text-dark pb-4 font-weight-bold">Registro de Usuario</h3>
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-md btn-dark text-white" value="Registrarse">
                </div>
            </form>
        </div>
        <div class="container" id="register-box-end">

        </div>
    </div>
{% endblock %}
