{% from 'macros.html' import render_field %}
{% extends "layout.html" %}

{% block content %}

    <!--Se activa la sección "Subir Datos"-->
    <script type="text/javascript">
            document.getElementById('ref-UploadData').classList.add("active");
    </script>

<div id="load_data" class="container-fluid">
    <div class="container" id="load_data-box-start">
        <h2 class="text-center text-dark">Poultry Geek</h2>
    </div>
    <div class="container border border-dark rounded" id="load_data-box">
        <form id="load_data-form" class="form container-fluid" enctype=multipart/form-data action="" method="post">
            {{ form.hidden_tag() }} <!--Despliega una variable en forma HTML (sin paréntresis); hidden_tag se usa por temas de seguridad-->
            <h3 class="text-center text-dark pb-4">Subir archivo</h3>
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-dark text-white btn-md" value="Subir Datos">
            </div>
        </form>
    </div>
    <div class="container" id="load_data-box-end">

    </div>
</div>

{% endblock %}