<!--Para esta tarea se ha usado la misma macro que con register debido a su 
similitud-->

{% from 'macros.html' import render_field %}
{% extends "layout.html" %}

{% block content %}
    <form class="form" action="" method="post">
        {{ form.hidden_tag() }} <!--Despliega una variable en forma HTML (sin paréntresis); hidden_tag se usa por temas de seguridad-->
        {% for field in form %} <!--Las llaves con porcentajes sirven para ejecutar cierto código en python-->
            {{ render_field(field) }}
        {% endfor %}
        <button type="submit" id="submit">Iniciar Sesión</button>
    </form>
{% endblock %}