{% extends "layout.html" %}

{% block content %}

<div class="container-fluid" id="table-container-main">
    <div class="container-fluid border rounded" id="table-container-left-0">
        <h2 id="table-h2-0">Búsqueda</h2>
        <!-- MUY IMPORTANTE que action=search para poder hacer la búsqueda-->
        <form id="table-form" class="form container-fluid" action="search" method="post">
            <div class="form-group">
                <div class="form-group row">
                    <label for="form-table-desde" class="col col-form-label">Desde</label>
                    <div class="col">
                        <input class="form-control" name="desde" type="date" value="{{ query_params.desde }}" id="form-table-desde">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-table-hasta" class="col col-form-label">Hasta</label>
                    <div class="col">
                        <input class="form-control" name="hasta" type="date" value="{{ query_params.hasta }}" id="form-table-hasta">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-table-number" class="col col-form-label">Number</label>
                    <div class="col">
                        <input class="form-control" name="num" type="number" value="{{ query_params.num }}" id="form-table-number">
                    </div>
                </div>
                <div class="form-group row container-fluid">
                    <button type="submit" class="btn btn-dark text-white btn-md">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid border rounded" id="table-container-right-0">
        {% if elementos_cabecera %}
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        {% for campo in elementos_cabecera %}
                            <th>{{ campo }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for fila in elementos_fila %}
                        <tr>
                            {% for elemento in fila %}
                                <td>{{ elemento }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

{% endblock %}