{% extends "layout.html" %}

{% block content %}

<!--Se activa la sección "Análisis"-->
<script type="text/javascript">
        document.getElementById('ref-anlysis').classList.add("active");
</script>

<div class="container-fluid" id="table-container-main">
    <div class="container border rounded" id="table-container-left">
        <h2 id="table-h2-0">Búsqueda</h2>
        <!-- MUY IMPORTANTE que action=search para poder hacer la búsqueda-->
        <form id="table-form" class="form container-fluid" action="search" method="post">
            <div class="form-group">
                <div class="form-group row">
                    <label for="form-table-desde" class="col col-form-label">Desde</label>
                    <div class="col">
                        <input class="form-control" name="desde" type="date" value="{{ query_params.desde }}" id="form-table-desde">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-table-hasta" class="col col-form-label">Hasta</label>
                    <div class="col">
                        <input class="form-control" name="hasta" type="date" value="{{ query_params.hasta }}" id="form-table-hasta">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-table-number" class="col col-form-label">Number</label>
                    <div class="col">
                        <input class="form-control" name="num" type="number" value="{{ query_params.num }}" id="form-table-number">
                    </div>
                </div>
                <div class="form-group row container-fluid">
                    <button type="submit" class="btn btn-dark text-white btn-md">Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Nav -->
    <div class="container-fluid" id="table-container-right">
        {% if elementos_cabecera %}
            <div class="sticky-top container-fluid" id="table-container-nav">
                <ul class="nav nav-tabs nav-justified border rounded" id="table-nav">
                    <li class="nav-item">
                        <a id="nav-table" class="nav-link active" href="#" onclick="mostrar_nav_table()"><strong>Tabla</strong></a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-stats" class="nav-link" href="#" onclick="mostrar_nav_stats()"><strong>Estadísticas</strong></a>
                    </li>
                    <li class="nav-item text-dark">
                        <a id="nav-graphics" class="nav-link" href="#" onclick="mostrar_nav_graphics()"><strong>Gráficos</strong></a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid" id="table-container-table">
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            {% for campo in elementos_cabecera %}
                                <th>{{ campo }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for fila in elementos_fila %}
                            <tr>
                                {% for elemento in fila %}
                                    <td>{{ elemento }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="container-fluid" id="table-container-stats" style="display: none;">
                <p>stats</p>
            </div>
            <div class="container-fluid" id="table-container-graphics" style="display: none;">
                <p>graphics</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}